<div class="row">
	<div class="col-xs-12" *ngIf="errorMessage">
		<div class="alert alert-danger">
			Error: {{errorMessage}}
		</div>
	</div>

	<div class="col-xs-12">
		<a class="btn btn-md btn-primary" [routerLink]="['appointmentadd']">Add new appointment</a>
		<table class="table table-condensed table-bordered text-center" style="margin-top: 10px;">
			<thead>
				<tr>
					<th class="bg-success text-center">Appointment Hours</th>
					<th class="bg-success text-center">Participants Count</th>
					<th class="bg-success text-center">Participants</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let schedulerRow of schedulerRows">
					<td> {{schedulerRow.StartHour}} - {{schedulerRow.EndHour}}</td>
					<td> {{schedulerRow.ParticipantsCount}} </td>
					<td> {{schedulerRow.Participants}} </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>